<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="log-path">logs/</Property>
	</Properties>
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{ISO8601}] [%t %x] [%c{2}] %m%n" />
		</Console>

		<RollingFile name="trace-log" fileName="${log-path}/trace.log"
			filePattern="${log-path}/$${date:yyyy-MM-dd}/trace-%d{dd-MM-yyyy}-%i.log"
			append="true">
			<PatternLayout>
				<Pattern>[%d{ISO8601}] [%t %x] %c [%5p] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" />
		</RollingFile>


		<RollingFile name="error-log" fileName="${log-path}/error.log"
			filePattern="${log-path}/$${date:yyyy-MM}/error-%d{dd-MM-yyyy}-%i.log"
			append="true">
			<PatternLayout>
				<Pattern>[%d{ISO8601}] [%t %x] %c [%5p] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" />
		</RollingFile>

		<RollingFile name="lag-monitor-log" fileName="${log-path}/lag-monitor.log"
			filePattern="${log-path}/$${date:yyyy-MM}/lag-monitor-%d{dd-MM-yyyy}-%i.log"
			append="true">
			<PatternLayout>
				<Pattern>[%d{ISO8601}] [%t %x] %c [%5p] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" />
		</RollingFile>

		<RollingFile name="dump-log" fileName="${log-path}/dump.log"
			filePattern="${log-path}/$${date:yyyy-MM}/dump-%d{dd-MM-yyyy}-%i.log"
			append="true">
			<PatternLayout>
				<Pattern>[%d{ISO8601}] [%t %x] %c [%5p] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" />
		</RollingFile>
		
		<RollingFile name="payment-log" fileName="${log-path}/payment.log"
			filePattern="${log-path}/$${date:yyyy-MM}/payment-%d{dd-MM-yyyy}-%i.log"
			append="true">
			<PatternLayout>
				<Pattern>[%d{ISO8601}] [%t %x] %c [%5p] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" />
		</RollingFile>


	</Appenders>
	<Loggers>

		<Logger name="TraceLogger" level="debug" additivity="false">
			<appender-ref ref="console-log" level="debug" />
			<appender-ref ref="trace-log" level="debug" />
			<appender-ref ref="error-log" level="error" />
		</Logger>

		<Logger name="ErrorLogger" level="debug" additivity="false">
			<appender-ref ref="console-log" level="debug" />
			<appender-ref ref="error-log" level="error" />
		</Logger>

		<Logger name="LagMonitorLogger" level="debug" additivity="false">
			<appender-ref ref="console-log" level="debug" />
			<appender-ref ref="lag-monitor-log" level="error" />
		</Logger>

		<Logger name="DumpLogger" level="debug" additivity="false">
			<!-- chỉ log lên console khi ở chế độ level tương ứng -->
			<appender-ref ref="console-log" level="debug" />
			<appender-ref ref="dump-log" level="debug" />
		</Logger>
		<Logger name="PaymentLogger" level="debug" additivity="false">
			<!-- chỉ log lên console khi ở chế độ level tương ứng -->
			<appender-ref ref="console-log" level="debug" />
			<appender-ref ref="payment-log" level="debug" />
		</Logger>

		<Root level="info" additivity="false">
			<AppenderRef ref="console-log" />
		</Root>
	</Loggers>


</Configuration>